<mat-card
  [style.background]="
    viewableActivity?.isPreview
      ? linearRepeatingGradient()
      : viewableActivity?.color
  "
  id="card"
>
  <div id="card-content">
    <h1 class="name">
      {{ viewableActivity?.name }}
    </h1>
    <div class="from icon-text">
      <mat-icon>access_time</mat-icon>
      <span>{{ viewableActivity?.from | date: 'HH:mm' }}</span>
    </div>
    <div class="duration icon-text">
      <mat-icon [ngClass]="{ blink: viewableActivity?.duration == '' }"
        >timelapse</mat-icon
      >
      <span *ngIf="viewableActivity?.duration == ''">
        {{ ongoingDuration | async }}
      </span>
      <span *ngIf="viewableActivity?.duration != ''">
        {{ viewableActivity?.duration }}
      </span>
    </div>
  </div>
  <div *ngIf="edit" id="card-buttons">
    <button
      class="edit"
      mat-icon-button
      aria-label="Edit activity"
      (click)="navigateToEdit()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete activity" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
