@import '~@angular/material/theming';
@include mat-core();

#card {
  display: flex;
  flex-direction: column;
}

#mat-card-content {
  display: flex;
  flex-direction: column;
}

#email {
  width: 100%;
}

#is-verified {
  color: #37c6a0;
}

#is-not-verified {
  color: #c77a4e;
}
