<mat-card id="card">
  <mat-card-header id="mat-card-header">
    <mat-card-title>account</mat-card-title>
  </mat-card-header>

  <mat-card-content id="mat-card-content">
    <mat-form-field id="username">
      <mat-label>Username</mat-label>
      <input matInput type="text" [value]="username" [readonly]="true" />
    </mat-form-field>

    <div>
      <mat-form-field id="email">
        <mat-label>Email</mat-label>
        <input matInput type="email" [value]="email" [readonly]="true" />
      </mat-form-field>
      <mat-icon
        id="is-verified"
        *ngIf="isVerified"
        aria-hidden="false"
        aria-label="Email is verified"
      >
        check_circle_outline
      </mat-icon>
      <mat-icon
        id="is-not-verified"
        *ngIf="!isVerified"
        aria-hidden="false"
        aria-label="Email is not verified"
      >
        error
      </mat-icon>
    </div>
  </mat-card-content>
</mat-card>
