@import '~@angular/material/theming';
@include mat-core();

#card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: 30px;
}

#mat-card-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#username {
  max-width: 180px;
  margin: 10px;
}

#email {
  max-width: 250px;
  margin: 10px;
}

#is-verified {
  margin: 5px;
  color: #37c6a0;
}

#is-not-verified {
  margin: 5px;
  color: #c77a4e;
}
